# Django Secret Key
SECRET_KEY=django-insecure-c#5@i2+k_h0p3u=mkh7$^0)ut5f%s7cta=r*(y=3%n^(oh8#bw

# Debug mode (set to False in production)
DEBUG=True

# Allowed hosts (comma-separated)
ALLOWED_HOSTS=localhost,127.0.0.1

# Database URL (for production, use PostgreSQL)
DATABASE_URL=sqlite:///db.sqlite3
